<div class="contact-section-wrapper">
  <div class="contact-content-wrapper">
    <div class="contact-text-block">
      <div class="contact-text-title">
        <p>Contact Us</p>
      </div>
      <div class="contact-text-description">
        <p>주소 : 서울특별시 금천구 가산디지털 1로 83, 204호</p>
      </div>
      <div class="contact-text-button">
        <button type="button" name="button" class="contact-email-button">SEND E-MAIL</button>
      </div>
    </div>
    <div class="contact-empty-block">
    </div>
    <div class="contact-map-block">
      <div id="map" style="width:100%;height:400px;"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=cpw9RMOfkmb0qIa7Vz23&callback=initMap"></script>
<script type="text/javascript">
  var map = null;
  function initMap() {
    map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.473219, 126.884288),
        zoom: 10
    });
  }
</script>
