<!--Fontawesome Image -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="contact-section-wrapper">
  <div class="contact-content-section">
    <div class="contact-text-block">
      <div class="contact-text-title">
        <p class="contact-text-effect">Contact Us</p>
      </div>
      <div class="contact-text-description">
        <p class="description">비욘드더드림에 관한 문의, 제휴 등 모든사항에 대해 친절하게 답변해드립니다.</p>
        <p class="email">
          <i class="far fa-envelope"></i>&nbsp; btd.information@gmail.com</p>
        <p class="address">
          <i class="fas fa-map-marker-alt"></i>&nbsp;서울 금천구 가산디지털1로 137, 17층</p>
      </div>
      <div class="contact-empty-block"></div>
    </div>
    <div class="contact-map-block">
      <div id="map" style="width:100%;height:100%;"></div>
    </div>
  </div>
</div>
<!--Text Effect -->
<script>
  $('.contact-text-effect').each(function () {
    $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });

  anime.timeline({loop: true}).add({
    targets: '.contact-text-effect .letter',
    scale: [
      4, 1
    ],
    opacity: [
      0, 1
    ],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 1500,
    delay: function (el, i) {
      return 70 * i;
    }
  }).add({targets: '.contact-text-effect', opacity: 0, duration: 1000, easing: "easeOutExpo", delay: 7000});
</script>
<!--Daum Map -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e982e48144fa63aa467b79c374255aa"></script>
<script>
var container = document.getElementById('map');
var options = {
  center: new daum.maps.LatLng("주식회사 비욘드더드림", 37.477898, 126.881999),
  level: 3
};

var map = new daum.maps.Map(container, options);
</script>
