<div class="overall-section-wrapper">
  <div class="overall-content-wrapper">
    <div class="overall-content-section">
        <div class="overall-text-company">
          <p class="overall-text-effect">Beyond the Dream</p>
        </div>
        <div class="overall-text-title">
          <p class="overall-text-effect">Main Copy Section</p>
        </div>
        <div class="overall-text-content">
          <p class="overall-text-effect">Content Section</p>
        </div>
    </div>
  </div>
  <div class="overall-empty-wrapper">
  </div>
</div>

<script type="text/javascript">
  $('.overall-text-effect').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });

  anime.timeline({loop: true})
  .add({
    targets: '.overall-text-effect .letter',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 5000,
    delay: function(el, i) {
      return 500 + 30 * i;
    }
  }).add({
    targets: '.overall-text-effect .letter',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: function(el, i) {
      return 100 + 30 * i;
    }
  });
</script>
