<div class="service-section-wrapper">
  <div class="service-text-wrapper">
    <div class="service-empty-block">
    </div>
    <div class="service-category-section">
      <p>Our Survice</p>
    </div>
    <div class="service-name-section">
      <a href="http://www.fanthe.com"><p>FAN:the</p></a>
    </div>
    <div class="service-description-section">
      <p> FAN:the는 한류 문화를 이끌어가는 팬들이 스타와의 콘텐츠를 기획, 참여하도록 적극 지원하고, 이를 기부와 결합해 팬과 스타의
        <br/>모든 활동이 사회공헌으로 이어질 수 있도록 하는 새로운 형태의 크라우드 펀딩 서비스를 제공합니다. </p>
    </div>
  </div>
  <div class="service-image-wrapper">
     <div class="slide first-image">
     </div>
     <div class="slide second-image">
     </div>
     <div class="slide third-image">
     </div>
  </div>
</div>

<script>
  $('.service-text-effect').each(function(){
    $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });

  anime.timeline({loop: true})
  .add({
    targets: '.service-text-effect .letter',
    translateY: [-100,0],
    easing: "easeOutExpo",
    duration: 3000,
    delay: function(el, i) {
      return 30 * i;
    }
  }).add({
    targets: '.service-text-effect',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 5000
  });
</script>
