<div class="service-section-wrapper">
  <div class="service-text-section">
    <div class="service-empty-block">
    </div>
    <div class="service-category-block">
      <p class="service-text-effect">Our Survice</p>
    </div>
    <div class="service-name-block">
      <p><%= link_to "FAN:the", "http://www.fanthe.com", onclick: "ga('send', 'event', 'Outbound Link', 'Fanthe Link')" %></p>
    </div>
    <div class="service-description-block">
      <p> FAN:the는 한류 문화를 이끌어가는 팬들이 스타와의 콘텐츠를 기획하고 참여하도록 적극 지원하는 새로운 형태의 크라우드 펀딩 서비스를 제공합니다.</p>
    </div>
  </div>
  <div class="service-image-section">
     <div class="slide first-image">
     </div>
     <div class="slide second-image">
     </div>
     <div class="slide third-image">
     </div>
  </div>
</div>

<!--Text Effect  -->
<script>
  $('.service-text-effect').each(function(){
    $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });

  anime.timeline({loop: true})
    .add({
      targets: '.service-text-effect .letter',
      scale: [4,1],
      opacity: [0,1],
      translateZ: 0,
      easing: "easeOutExpo",
      duration: 1500,
      delay: function(el, i) {
        return 70*i;
      }
    }).add({
      targets: '.service-text-effect',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 7000
    });
</script>
