<div class="service-section-wrapper">
  <div class="service-text-wrapper">
    <div class="service-empty-block">
    </div>
    <div class="service-category-section">
      <p>Our Survice</p>
    </div>
    <div class="service-name-section">
      <p>Service Name</p>
    </div>
    <div class="service-description-section">
      <p>Service Description</p>
    </div>
  </div>
  <div class="service-image-wrapper">
    <div class="slide first-image">
    </div>
    <div class="slide second-image">
    </div>
    <div class="slide third-image">
    </div>
  </div>
</div>
