<div class="team-section-wrapper">
  <div class="team-text-wrapper">
    <div class="team-text-block">
      <p class="team-text-effect">Team Story</p>
    </div>
  </div>
  <div class="team-introduction-wrapper">
    <div class="team-introduction-first-section">
      <div class="team-introduction-block">
        <div class="team-image-block" id="bonkyoung">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p class="name">BONKYOUNG GU</p><p class="position">CEO</p>
          </div>
          <div class="team-text-content">
            <p>영화, 만화를 사랑하고, 노력하는 크리에이터를 리스펙하는 아재. 아이즈원 & 원영이 무럭무럭 자라자!</p>
          </div>
        </div>
      </div>
      <div class="team-introduction-block">
        <div class="team-image-block" id="hyunseob">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p class="name">OSCAR</p><p class="position">Engineer</p>
          </div>
          <div class="team-text-content">
            <p>개발팀 주요전력입니다.갬성돋는 음악을 하는 뮤지션을 좋아합니다.<br/>예를 들자면, 레드벨벳</p>
          </div>
        </div>
      </div>
    </div>
    <div class="team-introduction-second-section">
      <div class="team-introduction-block">
        <div class="team-image-block" id="dongkeun">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p class="name">DONGKEUN OH</p><p class="position">Engineer</p>
          </div>
          <div class="team-text-content">
            <p>개발팀 막내지만 형들한테 서슴없이 반말하는 당찬 패기가 있습니다.<br/>마마무 팬입니다.</p>
          </div>
        </div>
      </div>
      <div class="team-introduction-block-last">
        <div class="team-image-block" id="jaewoong">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p class="name">JAEWOONG HWANG</p><p class="position">Engineer&Marketer</p>
          </div>
          <div class="team-text-content">
            <p>개발과 마케팅 사이 어딘가에 걸쳐 있습니다. 실력을 기르는 것이 올해의 목표. 가수는 나얼 좋아합니다.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.team-text-effect').each(function(){
    $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });

  anime.timeline({loop: true})
    .add({
      targets: '.team-text-effect .letter',
      scale: [4,1],
      opacity: [0,1],
      translateZ: 0,
      easing: "easeOutExpo",
      duration: 1500,
      delay: function(el, i) {
        return 70*i;
      }
    }).add({
      targets: '.team-text-effect',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 7000
    });
</script>
