<div class="team-section-wrapper">
  <div class="team-text-section">
    <div class="team-head-block">
      <div class="team-text-title">
        <p class="team-text-effect">Team Story</p>
      </div>
      <div class="team-text-description">
        <p>서로의 다름을 인정하고 모두의 꿈을 실현하기 위해 노력하고 성장하는, 우리는 Beyond the Dream 사람들입니다.</p>
      </div>
    </div>
  </div>
  <div class="team-introduction-section">
    <div class="team-card-block-top">
      <div class="team-card-body">
        <div class="team-card-image" id="gbk"></div>
        <div class="team-card-description">
          <strong>
            <p>BonKyoung Gu</p>
          </strong>
          <span>대표</span>
          <span></span>
        </div>
      </div>
      <div class="team-card-body">
        <div class="team-card-image" id="koy"></div>
        <div class="team-card-description">
          <strong>
            <p>On Yu Kim</p>
          </strong>
          <span id="team-position">콘텐츠 팀</span><span>과장</span>
        </div>
      </div>
      <div class="team-card-body">
        <div class="team-card-image" id="ahs"></div>
        <div class="team-card-description">
          <strong>
            <p>HyunSeob Ahn</p>
          </strong>
          <span id="team-position">개발 팀</span><span>선임</span>
        </div>
      </div>
    </div>
    <div class="team-card-block-bottom">
      <div class="team-card-body">
        <div class="team-card-image" id="hjw"></div>
        <div class="team-card-description">
          <strong>
            <p>JaeWoong Hwang</p>
          </strong>
          <span id="team-position">개발 팀</span><span>선임</span>
        </div>
      </div>
      <div class="team-card-body">
        <div class="team-card-image" id="odk"></div>
        <div class="team-card-description">
          <strong>
            <p>DongKeun Oh</p>
          </strong>
          <span id="team-position">개발 팀</span><span>주임</span>
        </div>
      </div>
      <div class="team-card-body">
        <div class="team-card-image" id="psm"></div>
        <div class="team-card-description">
          <strong>
            <p>SunMin Park</p>
          </strong>
          <span id="team-position">콘텐츠 팀</span><span>사원</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Text Effect -->
<script>
  $('.team-text-effect').each(function () {
    $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });

  anime.timeline({loop: true}).add({
    targets: '.team-text-effect .letter',
    scale: [
      4, 1
    ],
    opacity: [
      0, 1
    ],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 1500,
    delay: function (el, i) {
      return 70 * i;
    }
  }).add({targets: '.team-text-effect', opacity: 0, duration: 1000, easing: "easeOutExpo", delay: 7000});
</script>
