<div class="team-section-wrapper">
  <div class="team-text-wrapper">
    <div class="team-text-block">
      <p class="title">Team Story</p>
    </div>
  </div>
  <div class="team-introduction-wrapper">
    <div class="team-introduction-first-section">
      <div class="team-introduction-block">
        <div class="team-image-block">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p class="name">구본경</p><p class="position">대표</p>
          </div>
          <div class="team-text-content">
            <p>Member Introduction</p>
          </div>
        </div>
      </div>
      <div class="team-introduction-block">
        <div class="team-image-block">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p class="name">안현섭</p><p class="position">Engineer</p>
          </div>
          <div class="team-text-content">
            <p>개발팀 주요전력입니다.갬성돋는 음악을 하는 뮤지션을 좋아합니다. 예를 들자면, 레드벨벳</p>
          </div>
        </div>
      </div>
    </div>
    <div class="team-introduction-second-section">
      <div class="team-introduction-block">
        <div class="team-image-block">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p class="name">오동근</p><p class="position">Co-founder</p>
          </div>
          <div class="team-text-content">
            <p>Member Introduction</p>
          </div>
        </div>
      </div>
      <div class="team-introduction-block-last">
        <div class="team-image-block">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p class="name">황재웅</p><p class="position">개발&마케팅</p>
          </div>
          <div class="team-text-content">
            <p>Member Introduction</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
