<div class="team-section-wrapper">
  <div class="team-text-wrapper">
    <div class="team-text-block">
      <p>Team Introduction Section</p>
    </div>
  </div>
  <div class="team-introduction-wrapper">
    <div class="team-introduction-first-section">
      <div class="team-introduction-block">
        <div class="team-image-block">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p>Member Name</p>
          </div>
          <div class="team-text-content">
            <p>Member Introduction</p>
          </div>
        </div>
      </div>
      <div class="team-introduction-block">
        <div class="team-image-block">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p>Member Name</p>
          </div>
          <div class="team-text-content">
            <p>Member Introduction</p>
          </div>
        </div>
      </div>
    </div>
    <div class="team-introduction-second-section">
      <div class="team-introduction-block">
        <div class="team-image-block">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p>Member Name</p>
          </div>
          <div class="team-text-content">
            <p>Member Introduction</p>
          </div>
        </div>
      </div>
      <div class="team-introduction-block-last">
        <div class="team-image-block">
        </div>
        <div class="team-text-block">
          <div class="team-text-name">
            <p>Member Name</p>
          </div>
          <div class="team-text-content">
            <p>Member Introduction</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
