<!--Navigation Bar -->
<div id="navbar">
  <%= image_tag "btd_logo.png" %>
</div>
<!--Index Layout -->
<div id="fullpage">
  <div class="section overall-container">
    <%= render 'shared/overall' %>
  </div>
  <div class="section service-container">
    <%= render 'shared/service' %>
  </div>
  <!-- <div class="section team-container">
    <%#= render 'shared/team' %>
  </div> -->
  <div class="section contact-container">
    <%= render 'shared/contact' %>
  </div>
</div>
