.overall-section-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: image-url("background_pc.png");
  /* Create the parallax scrolling effect */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.overall-content-wrapper{
  height: 100%;
  width: 75%;
  background-color: trensparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.overall-empty-wrapper{
  height: 100%;
  width: 25%;
  background-color: trensparent;
  position: relative;
}
.overall-content-section{
  width: 100%;
  height: 70%;
}
.overall-text-company{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-end;
}
.overall-text-effect .letter{
  display: inline-block;
  line-height: 1em;
}
.overall-text-company p{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  text-align: left;
  color: #171718;
}
.overall-text-title{
  width: 100%;
  height: 40%;
}
.overall-text-title p{
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -4px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.4;
}
.overall-text-content{
  width: 100%;
  height: 40%;
}
.overall-text-content p{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #4d4b4b;
}
/* oswald-200 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: font-url('oswald-v16-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
       font-url('oswald-v16-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('oswald-v16-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('oswald-v16-latin-200.woff') format('woff'), /* Modern Browsers */
       font-url('oswald-v16-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('oswald-v16-latin-200.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: font-url('oswald-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oswald Regular'), local('Oswald-Regular'),
       font-url('oswald-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('oswald-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('oswald-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       font-url('oswald-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('oswald-v16-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: font-url('oswald-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Oswald Light'), local('Oswald-Light'),
       font-url('oswald-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('oswald-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('oswald-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       font-url('oswald-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('oswald-v16-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: font-url('oswald-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Oswald Medium'), local('Oswald-Medium'),
       font-url('oswald-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('oswald-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('oswald-v16-latin-500.woff') format('woff'), /* Modern Browsers */
       font-url('oswald-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('oswald-v16-latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-700 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: font-url('oswald-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Oswald Bold'), local('Oswald-Bold'),
       font-url('oswald-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('oswald-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('oswald-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       font-url('oswald-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('oswald-v16-latin-700.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-600 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: font-url('oswald-v16-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
       font-url('oswald-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('oswald-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('oswald-v16-latin-600.woff') format('woff'), /* Modern Browsers */
       font-url('oswald-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('oswald-v16-latin-600.svg#Oswald') format('svg'); /* Legacy iOS */
}
