.service-section-wrapper{
  height: 100%;
  width: 100%;
  background-color: trensparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-text-wrapper{
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-empty-block{
  height: 10%;
  width: 100%;
  background-color: trensparent;
}
.service-category-section{
  height: 15%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.service-category-section p{
  font-family: OpenSans, sans-serif;
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  color: #4d4b4b;
}
.service-name-section{
  height: 30%;
  width: 100%;
  text-align: center;
}
.service-name-section p{
  font-family: OpenSans, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  color: #000000;
}
.service-name-section a:hover{
  color: darkgrey;
}
.service-name-section a{
  color: #000000;
  text-decoration: none !important;
}
.service-description-section{
  height: 45%;
  width: 60%;
  margin-top: 2em;
  text-align: center;
}
.service-description-section p{
  font-family: NanumSquare;
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  color: #4d4b4b;
}
.service-text-effect .letter{
  display: inline-block;
  line-height: 1em;
}
.service-image-wrapper{
  height: 60%;
  width: 80%;
}
.first-image{
  background-color: #00b3d7;
}
.second-image{
  background-color: #4BBFC3;
}
.third-image{
  background-color: #7BAABE;
}
.fp-controlArrow.fp-prev{
  margin-top: 5%;
  margin-left: 10%;
}
.fp-controlArrow.fp-next{
  margin-top: 5%;
  margin-right: 10%;
}
