.service-section-wrapper {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-text-section {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-empty-block {
  height: 10%;
  width: 100%;
  background-color: transparent;
}

.service-category-block {
  height: 30%;
  width: 100%;
  text-align: center;
}

.service-category-block p {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  color: #000000;
  margin-top: 0.3em;
  margin-bottom: 0;
}

.service-name-block {
  height: 15%;
  width: 100%;
  text-align: center;
}

.service-name-block p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  color: #4d4b4b;
}

.service-name-block a:hover {
  color: darkgrey;
}

.service-name-block a {
  color: #000000;
  text-decoration: none !important;
}

.service-description-block {
  height: 45%;
  width: 60%;
  margin-top: 1em;
  text-align: center;
}

.service-description-block p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.15em;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  color: #4d4b4b;
}

.service-text-effect .letter {
  display: inline-block;
  line-height: 1em;
}

.service-image-section {
  height: 675px;
  width: 900px;
}

.image-fanthecall {
  background-image: image-url("fanthecall.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-maskfanthe {
  background-image: image-url("maskfanthe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-fanmong {
  background-image: image-url("fanmong.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-fanshow {
  background-image: image-url("fanshow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-fanality {
  background-image: image-url("fanality.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-fandrama {
  background-image: image-url("fandrama.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fp-controlArrow.fp-prev {
  margin-top: 3%;
  margin-left: 15%;
  border-color: transparent #000000 transparent transparent;
  opacity: 0.4;
}

.fp-controlArrow.fp-next {
  margin-top: 3%;
  margin-right: 15%;
  border-color: transparent transparent transparent #000000;
  opacity: 0.4;
}

/* noto-sans-kr-300 - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: font-url('noto-sans-kr-v8-latin/noto-sans-kr-v8-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
       font-url('noto-sans-kr-v8-latin/noto-sans-kr-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('noto-sans-kr-v8-latin/noto-sans-kr-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('noto-sans-kr-v8-latin/noto-sans-kr-v8-latin-300.woff') format('woff'), /* Modern Browsers */
       font-url('noto-sans-kr-v8-latin/noto-sans-kr-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('noto-sans-kr-v8-latin/noto-sans-kr-v8-latin-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: font-url('roboto-v18-latin/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       font-url('roboto-v18-latin/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('roboto-v18-latin/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('roboto-v18-latin/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       font-url('roboto-v18-latin/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('roboto-v18-latin/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
