.service-section-wrapper{
  height: 100%;
  width: 100%;
  background-color: trensparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-text-wrapper{
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-empty-block{
  height: 10%;
  width: 100%;
  background-color: trensparent;
}
.service-category-section{
  height: 15%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.service-category-section p{
  font-family: OpenSans, sans-serif;
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  color: #4d4b4b;
}
.service-name-section{
  height: 30%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.service-name-section p{
  font-family: OpenSans, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  color: #000000;
}
.service-description-section{
  height: 45%;
  width: 100%;
  text-align: center;
}
.service-description-section p{
  font-family: OpenSans, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #4d4b4b;
}
.service-image-wrapper{
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.service-text-effect .letter{
  display: inline-block;
  line-height: 1em;
}
.first-image{
  background-image: image-url("first_slide.jpeg");
  background-size: cover;
}
.second-image{
  background-image: image-url("second_slide.png");
  background-size: cover;
}
.third-image{
  background-image: image-url("third_slide.jpeg");
  background-size: cover;
}
.fp-controlArrow.fp-prev{
  margin-top: 45px;
}
.fp-controlArrow.fp-next{
  margin-top: 45px;
}
