@media only screen and (min-width: 1024px) and (max-width: 1224px){
  // Overall Section
  .overall-text-company p{
    font-size: 1.5em;
  }
  .overall-text-title p{
    font-size: 4.5em;
  }
  .overall-text-content p{
    font-size: 1.5em;
  }
  .overall-section-wrapper{
    background-image: image-url("background_pc.png");
    background-attachment: scroll;
  }
  // Service Section
  .service-empty-block{
    height: 0%;
  }
  .service-category-section{
    height: 20%;
  }
  .service-name-section{
    height: 40%;
  }
  .service-description-section{
    height: 40%;
    margin-top: 0;
  }
  .service-category-section p{
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .service-name-section p{
    font-size: 3em;
    margin-top: 0;
  }
  .service-text-effect p{
    margin-top: 0;
  }
  .service-description-section p{
    font-size: 1em;
  }
  // Team Section
  // Contact Section
  .contact-text-title p{
    font-size: 3em;
  }
  .contact-text-description p{
    margin-top: 1.5em;
  }
  .contact-map-block{
    margin-left: 2em;
  }
  p.description{
    font-weight: lighter;
    font-size: 1.15em;
    color: #000000;
  }
  P.email{
    font-size: 1em;
  }
  p.address{
    font-size: 1em;
  }
}
/* PC 및 노트북 ----------- */
@media only screen and (min-width: 1224px) {
  // Overall Section
  .overall-text-company p{
    font-size: 1.5em;
  }
  .overall-text-title p{
    font-size: 4.5em;
  }
  .overall-text-content p{
    font-size: 1.5em;
  }
  .overall-section-wrapper{
    background-image: image-url("background_pc.png");
    background-attachment: scroll;
  }
  // Service Section
  .service-category-section p{
    font-size: 1.2em;
  }
  .service-name-section p{
    font-size: 3em;
  }
  .service-description-section p{
    font-size: 1em;
  }
  // Team Section
  // Contact Section
  .contact-text-block{
    margin-left: 5em;
  }
  .contact-text-title p{
    font-size: 3em;
  }
  .contact-text-description p{
    margin-top: 1.5em;
  }
  .contact-map-block{
    margin-left: 5em;
  }
  p.description{
    font-weight: lighter;
    font-size: 1.15em;
    color: #000000;
  }
  P.email{
    font-size: 1em;
  }
  p.address{
    font-size: 1em;
  }
}
/* 대형 스크린 ----------- */
@media only screen and (min-width: 1824px) {
  // Overall Section
  .overall-text-company p{
    font-size: 1.5em;
  }
  .overall-text-title p{
    font-size: 4.5em;
  }
  .overall-text-content p{
    font-size: 1.5em;
  }
  .overall-section-wrapper{
    background-image: image-url("background_pc.png");
    background-attachment: scroll;
  }
  // Service Section
  .service-category-section p{
    font-size: 1.2em;
  }
  .service-name-section p{
    font-size: 3em;
  }
  .service-description-section p{
    font-size: 1em;
  }
  // Team Section
  // Contact Section
  .contact-text-block{
    margin-left: 5em;
  }
  .contact-text-title p{
    font-size: 3em;
  }
  .contact-text-description p{
    margin-top: 1.5em;
  }
  .contact-map-block{
    margin-left: 5em;
  }
  p.description{
    font-weight: lighter;
    font-size: 1.15em;
    color: #000000;
  }
  P.email{
    font-size: 1em;
  }
  p.address{
    font-size: 1em;
  }
}
