@media only screen and (max-width: 1023px) {
  // Overall Section
  .overall-section-wrapper {
    background-image: image-url("background_tb.png");
    background-size: cover;
  }

  .overall-content-wrapper {
    width: 90%;
  }

  .overall-empty-wrapper {
    width: 10%;
  }

  .overall-text-company {
    height: 20%;
    width: 100%;
  }

  .overall-text-title {
    height: 30%;
    width: 100%;
  }

  .overall-text-content {
    height: 50%;
    width: 100%;
  }

  .overall-text-title p {
    font-size: 4rem;
  }

  .overall-text-content p {
    font-size: 1.1rem;
  }

  #content-second-sentence {
    margin-top: -0.8rem;
  }
  // Service Section
  .service-description-block {
    width: 57%;
  }

  .service-category-block p {
    font-size: 3rem;
  }

  .service-name-block p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }

  .service-description-block p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    margin-top: 4rem;
  }

  .fp-controlArrow.fp-next {
    margin-top: 4rem;
  }
  // Team Section
  .team-text-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .team-text-effect {
    font-size: 3rem;
  }

  .team-text-description {
    width: 90%;
  }

  .team-text-description p {
    font-size: 1rem;
    margin-top: 0;
  }

  .team-card-body {
    width: 200px;
    height: 80%;
  }
  // Contact Section
  .contact-content-section {
    flex-direction: column;
  }

  .contact-text-block {
    height: 40%;
    width: 100%;
    margin-left: 5rem;
    justify-content: flex-start;
  }

  .contact-text-description {
    width: 100%;
  }

  .contact-text-title p {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .contact-empty-block {
    height: 0;
    width: 0;
  }

  .contact-map-block {
    height: 60%;
    width: 100%;
  }

  p.description {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    margin-top: 1.5rem;
  }

  p.email {
    font-size: 0.9rem;
  }

  p.address {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  // Overall Section
  .overall-content-wrapper {
    width: 100%;
  }

  .overall-empty-wrapper {
    width: 10%;
  }

  .overall-text-company {
    height: 20%;
    width: 100%;
  }

  .overall-text-title {
    height: 30%;
    width: 100%;
  }

  .overall-text-content {
    height: 50%;
    width: 100%;
  }

  .overall-text-title p {
    font-size: 4rem;
  }

  .overall-text-content p {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .overall-section-wrapper {
    background-image: image-url("background_pc.png");
    background-attachment: scroll;
  }

  #content-second-sentence {
    margin-top: -1rem;
  }
  // Service Section
  .service-image-section {
    height: 65%;
  }

  .service-empty-block {
    height: 0;
  }

  .service-description-block {
    height: 40%;
    width: 65%;
    margin-top: 0;
  }

  .service-description-block p {
    font-size: 1.1rem;
  }

  .image-fanthecall {
    background-image: image-url("fanthecall_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-maskfanthe {
    background-image: image-url("maskfanthe_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-fanmong {
    background-image: image-url("fanmong_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-fanshow {
    background-image: image-url("fanshow_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-fanality {
    background-image: image-url("fanality_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-fandrama {
    background-image: image-url("fandrama_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    margin-left: 0.5rem;
    margin-top: 5rem;
  }

  .fp-controlArrow.fp-next {
    margin-right: 0.5rem;
    margin-top: 5rem;
  }
  // Team Section
  // Contact Section
  .contact-content-section {
    margin-top: 7rem;
  }

  .contact-text-title p {
    font-size: 3rem;
  }

  .contact-text-description p {
    margin-top: 1.5rem;
  }

  .contact-text-block {
    width: 40%;
  }

  .contact-empty-block {
    width: 10%;
  }

  .contact-map-block {
    width: 50%;
    margin-left: 2rem;
  }

  p.description {
    font-weight: lighter;
    font-size: 1.15rem;
  }

  P.email {
    font-size: 1rem;
  }

  p.address {
    font-size: 1rem;
  }
}
/* PC 및 노트북 ----------- */
@media only screen and (min-width: 1224px) {
  // Overall Section
  .overall-content-wrapper {
    width: 90%;
  }

  .overall-empty-wrapper {
    width: 10%;
  }

  .overall-text-company {
    height: 20%;
    width: 100%;
  }

  .overall-text-title {
    height: 30%;
    width: 100%;
  }

  .overall-text-content {
    height: 50%;
    width: 100%;
  }

  .overall-text-title p {
    font-size: 4.5rem;
  }

  .overall-text-content p {
    font-size: 1.1rem;
  }

  .overall-section-wrapper {
    background-image: image-url("background_pc.png");
    background-attachment: scroll;
  }

  #content-second-sentence {
    margin-top: -0.5rem;
  }
  // Service Section
  .service-category-block p {
    font-size: 3rem;
  }

  .service-name-block p {
    font-size: 1.5rem;
  }

  .service-description-block {
    width: 60%;
  }

  .service-description-block p {
    font-size: 1.1rem;
  }

  .service-image-section {
    height: 675px;
    width: 900px;
  }
  // Team Section
  .team-text-description p {
    font-size: 1.1rem;
  }
  // Contact Section
  .contact-text-block {
    margin-left: 5rem;
  }

  .contact-text-title p {
    font-size: 3rem;
  }

  .contact-text-description p {
    margin-top: 1.1rem;
  }

  .contact-map-block {
    margin-left: 5rem;
  }

  p.description {
    font-weight: lighter;
    font-size: 1.1rem;
  }

  P.email {
    font-size: 1rem;
  }

  p.address {
    font-size: 1rem;
  }
}
/* 대형 스크린 ----------- */
@media only screen and (min-width: 1824px) {
  // Overall Section
  .overall-text-company {
    height: 20%;
    width: 100%;
  }

  .overall-text-title {
    height: 30%;
    width: 100%;
  }

  .overall-text-content {
    height: 50%;
    width: 100%;
  }

  .overall-text-company p {
    font-size: 1.5rem;
  }

  .overall-text-title p {
    font-size: 4.5rem;
  }

  .overall-text-content p {
    font-size: 1.3rem;
    letter-spacing: -1px;
    margin-top: -2rem;
  }

  #content-second-sentence {
    margin-top: -1rem;
  }

  .overall-section-wrapper {
    background-image: image-url("background_pc.png");
    background-attachment: scroll;
  }
  // Service Section
  .service-category-block p {
    font-size: 3rem;
  }

  .service-name-block p {
    font-size: 1.2rem;
  }

  .service-description-block {
    width: 70%;
  }

  .service-description-block p {
    font-size: 1.1rem;
  }

  .service-image-section {
    height: 675px;
    width: 900px;
  }
  // Team Section
  // Contact Section
  .contact-text-block {
    margin-left: 5rem;
  }

  .contact-text-title p {
    font-size: 3rem;
  }

  .contact-text-description p {
    margin-top: 1.5rem;
  }

  .contact-map-block {
    margin-left: 5rem;
  }

  p.description {
    font-weight: lighter;
    font-size: 1.15rem;
    color: #000000;
  }

  P.email {
    font-size: 1rem;
  }

  p.address {
    font-size: 1rem;
  }
}
