/* iPad (세로) ----------- */
@media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
  // Overall Section
  .overall-section-wrapper {
    background-image: image-url("background_tb.png");
    background-attachment: scroll;
  }

  .overall-content-wrapper {
    width: 90%;
    margin-left: 2rem;
  }

  .overall-empty-wrapper {
    width: 10%;
  }
  // Service Section
  .service-text-section {
    height: 30%;
  }

  .service-image-section {
    height: 70%;
    width: 600px;
  }

  .service-empty-block {
    height: 0;
  }

  .service-description-block {
    width: 80%;
  }

  .service-category-block p {
    font-size: 3rem;
  }

  .service-description-block p {
    font-size: 1.1rem;
    margin-top: -1rem;
  }

  .image-fanthecall {
    background-image: image-url("fanthecall_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-maskfanthe {
    background-image: image-url("maskfanthe_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fanmong {
    background-image: image-url("fanmong_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fanshow {
    background-image: image-url("fanshow_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fanality {
    background-image: image-url("fanality_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fandrama {
    background-image: image-url("fandrama_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fancast {
    background-image: image-url("fancast_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fanfight {
    background-image: image-url("fanfight_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-mslive {
    background-image: image-url("mslive_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-secretdol {
    background-image: image-url("secretdol_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-sherlockfans {
    background-image: image-url("sherlockfans_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    margin-top: 6rem;
    margin-left: 0;
  }

  .fp-controlArrow.fp-next {
    margin-top: 6rem;
    margin-right: 0;
  }
  // Team Section
  .team-introduction-section {
    flex-direction: column;
  }

  .team-text-description {
    width: 80%;
  }

  .team-text-description p {
    font-size: 1.1rem;
  }
  // Contact Section
  .contact-content-section {
    flex-direction: column;
  }

  .contact-text-block {
    height: 40%;
    width: 100%;
    margin-left: 5rem;
  }

  .contact-text-description {
    width: 100%;
  }

  .contact-text-title p {
    font-size: 3rem;
  }

  .contact-text-description {
    margin-top: 3rem;
  }

  p.description {
    font-size: 1.1rem;
    margin-top: 0;
  }

  p.email {
    font-size: 1rem;
    margin-top: 1rem;
  }

  p.address {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .contact-empty-block {
    height: 10%;
    width: 100%;
  }

  .contact-map-block {
    height: 50%;
    width: 100%;
  }
}
/* iPad (가로) ----------- */
@media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
  // Overall Section
  .overall-text-company p {
    font-size: 1.2rem;
  }

  .overall-text-title p {
    font-size: 2.5rem;
  }

  .overall-text-content p {
    font-size: 1rem;
  }
  // Service Section
  .service-description-block {
    width: 90%;
  }

  .service-category-block p {
    font-size: 2.5rem;
  }

  .service-description-block p {
    font-size: 1.2rem;
  }

  .service-image-section {
    width: 600px;
    height: 70%;
  }

  .image-fanthecall {
    background-image: image-url("fanthecall_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-maskfanthe {
    background-image: image-url("maskfanthe_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-fanmong {
    background-image: image-url("fanmong_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-fanshow {
    background-image: image-url("fanshow_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-fanality {
    background-image: image-url("fanality_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-fandrama {
    background-image: image-url("fandrama_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-fancast {
    background-image: image-url("fancast_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-fanfight {
    background-image: image-url("fanfight_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-mslive {
    background-image: image-url("mslive_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-secretdol {
    background-image: image-url("secretdol_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-sherlockfans {
    background-image: image-url("sherlockfans_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  // Team Section
  .team-text-box p {
    font-size: 2.5rem;
  }

  .team-text-name p {
    font-size: 1.2rem;
  }

  .team-text-content p {
    font-size: 0;
    color: transparent;
  }

  .team-introduction-first-block {
    align-items: baseline;
  }

  .team-introduction-box {
    height: 85%;
    width: 30%;
  }

  .team-introduction-box-last {
    height: 80%;
    width: 20%;
  }

  .team-image-box {
    height: 60%;
  }

  .team-text-name {
    height: 15%;
  }

  .team-text-content {
    height: 25%;
  }
  // Contact Section
  .contact-text-title p {
    font-size: 2.5rem;
  }

  .contact-text-description p {
    font-size: 1.2rem;
  }

  .contact-empty-block {
    height: 100%;
    width: 15%;
  }
}
/* iPad Pro(세로) ----------- */
@media screen and (device-width: 1024px) and (max-device-width: 1366px) and (orientation : portrait) {
  // Overall Section
  .overall-section-wrapper {
    background-image: image-url("background_tb.png");
    background-size: cover;
  }

  .overall-content-wrapper {
    width: 90%;
  }

  .overall-empty-wrapper {
    width: 10%;
  }

  .overall-text-company {
    height: 10%;
    width: 100%;
  }

  .overall-text-title {
    height: 40%;
    width: 100%;
  }

  .overall-text-content {
    height: 50%;
    width: 100%;
  }

  .overall-text-company p {
    font-size: 2rem;
  }

  .overall-text-title p {
    font-size: 4.8rem;
  }

  .overall-text-content p {
    font-size: 1.6rem;
  }

  #content-second-sentence {
    margin-top: 0.5rem;
  }
  // Service Section
  .service-text-section {
    height: 30%;
  }

  .service-image-section {
    height: 70%;
    width: 900px;
  }

  .image-fanthecall {
    background-image: image-url("fanthecall.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-maskfanthe {
    background-image: image-url("maskfanthe.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fanmong {
    background-image: image-url("fanmong.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fanshow {
    background-image: image-url("fanshow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fanality {
    background-image: image-url("fanality.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fandrama {
    background-image: image-url("fandrama.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fancast {
    background-image: image-url("fancast.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-fanfight {
    background-image: image-url("fanfight.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-mslive {
    background-image: image-url("mslive.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-secretdol {
    background-image: image-url("secretdol.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .image-sherlockfans {
    background-image: image-url("sherlockfans.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 6rem;
  }

  .service-empty-block {
    height: 5%;
  }

  .service-category-block {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .service-name-block {
    height: 15%;
  }

  .service-description-block {
    height: 35%;
    width: 80%;
  }

  .service-category-block p {
    font-size: 4rem;
  }

  .service-description-block p {
    font-size: 1.6rem;
    margin-top: 0;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    margin-top: 6rem;
    margin-left: 1rem;
  }

  .fp-controlArrow.fp-next {
    margin-top: 6rem;
    margin-right: 1rem;
  }
  // Team Section
  .team-text-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .team-text-effect {
    font-size: 4rem;
  }

  .team-text-description {
    width: 85%;
  }

  .team-text-description p {
    font-size: 1.6rem;
    margin-top: 0;
  }

  .team-introduction-section {
    flex-direction: column;
  }

  .team-card-body {
    width: 300px;
    height: 80%;
  }

  .team-card-description p {
    font-size: 1.5rem;
  }

  .team-card-description span {
    font-size: 1.3rem;
  }
  // Contact Section
  .contact-content-section {
    flex-direction: column;
  }

  .contact-text-block {
    height: 40%;
    width: 100%;
    margin-left: 5rem;
    justify-content: flex-start;
  }

  .contact-text-description {
    width: 100%;
  }

  .contact-text-title p {
    font-size: 4rem;
  }

  .contact-empty-block {
    height: 0;
    width: 0;
  }

  .contact-map-block {
    height: 60%;
    width: 100%;
  }

  p.description {
    font-size: 1.6rem;
  }

  p.email {
    font-size: 1.4rem;
  }

  p.address {
    font-size: 1.4rem;
  }
}
/* iPad Pro (가로) ----------- */
@media screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation : landscape) {
  // Overall Section
  .overall-content-wrapper {
    width: 90%;
    height: 100%;
  }

  .overall-empty-wrapper {
    width: 10%;
    height: 100%;
  }

  .overall-text-title {
    align-items: center;
  }

  .overall-text-company p {
    font-size: 2.2rem;
  }

  .overall-text-title p {
    font-size: 4.5rem;
  }

  .overall-text-content p {
    font-size: 1.3rem;
  }

  .overall-section-wrapper {
    background-image: image-url("background_tb.png");
    background-size: cover;
  }
  // Service Section
  .service-empty-block {
    width: 0;
  }

  .service-text-section {
    height: 30%;
  }

  .service-image-section {
    height: 70%;
    width: 900px;
  }

  .service-description-block {
    width: 65%;
  }

  .service-category-block p {
    font-size: 4rem;
  }

  .service-name-block p {
    font-size: 1.5rem;
  }

  .service-description-block p {
    font-size: 1.5rem;
  }

  .image-fanthecall {
    background-image: image-url("fanthecall.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-maskfanthe {
    background-image: image-url("maskfanthe.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-fanmong {
    background-image: image-url("fanmong.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-fanshow {
    background-image: image-url("fanshow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-fanality {
    background-image: image-url("fanality.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-fandrama {
    background-image: image-url("fandrama.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-fancast {
    background-image: image-url("fancast.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-fanfight {
    background-image: image-url("fanfight.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-mslive {
    background-image: image-url("mslive.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-secretdol {
    background-image: image-url("secretdol.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .image-sherlockfans {
    background-image: image-url("sherlockfans_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3rem;
  }

  .fp-controlArrow.fp-prev {
    margin-left: 4.5rem;
    margin-top: 5rem;
  }

  .fp-controlArrow.fp-next {
    margin-right: 4.5rem;
    margin-top: 5rem;
  }
  // Team Section
  .team-text-section {
    height: 25%;
  }

  .team-introduction-section {
    height: 75%;
  }

  .team-head-block {
    height: 100%;
  }

  .team-text-title {
    height: 50%;
  }

  .team-text-description {
    width: 90%;
    height: 50%;
  }

  .team-text-effect {
    font-size: 4rem;
  }

  .team-text-description p {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .team-card-body {
    width: 220px;
    height: 90%;
  }
  // Contact Section
  .contact-text-block {
    width: 45%;
    margin-left: 5rem;
    margin-top: 7rem;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .contact-empty-block {
    display: none;
  }

  .contact-map-block {
    width: 55%;
    margin-left: 5rem;
    display: inherit;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .contact-text-description {
    width: 100%;
  }

  .contact-text-title p {
    font-size: 4rem;
  }

  p.description {
    font-size: 1.5rem;
  }

  p.email {
    font-size: 1.2rem;
  }

  p.address {
    font-size: 1.2rem;
  }
}
/* iPad Mini(세로) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {}
/* iPad Mini(가로) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {}
