/* 스마트폰 (세로) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
  // Navbar
  #navbar {
    visibility: hidden;
  }
  // Overall Section
  .overall-content-wrapper {
    height: 100%;
    width: 100%;
  }

  .overall-empty-wrapper {
    height: 0;
    width: 0;
  }

  .overall-content-section {
    height: 100%;
    width: 100%;
    margin-left: -7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .overall-text-company {
    height: 10%;
    width: 100%;
  }

  .overall-text-title {
    height: 30%;
    width: 100%;
  }

  .overall-text-content {
    height: 20%;
    width: 100%;
  }

  .overall-text-company p {
    font-size: 1rem;
  }

  .overall-text-title p {
    font-size: 2rem;
  }

  .overall-text-content p {
    font-size: 0.8rem;
  }

  .overall-section-wrapper {
    background-image: image-url("background_sp.png");
    background-attachment: scroll;
  }

  #content-second-sentence {
    margin-top: 0.2rem;
  }
  // Service Section
  .service-text-section {
    height: 30%;
  }

  .service-image-section {
    height: 70%;
    width: 80%;
  }

  .service-empty-block {
    height: 0;
  }

  .service-category-block {
    height: 30%;
  }

  .service-name-block {
    height: 20%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .service-description-block {
    height: 50%;
    width: 80%;
    margin-top: -1rem;
  }

  .service-category-block p {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .service-name-block p {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .service-description-block p {
    font-size: 0.8rem;
    line-height: normal;
    font-weight: normal;
    letter-spacing: -1px;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .image-fanthecall {
    background-image: image-url("fanthecall_sp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .image-maskfanthe {
    background-image: image-url("maskfanthe_sp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .image-fanmong {
    background-image: image-url("fanmong_sp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .image-fanshow {
    background-image: image-url("fanshow_sp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .image-fanality {
    background-image: image-url("fanality_sp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .image-fandrama {
    background-image: image-url("fandrama_sp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    border-width: 16.5px 17px 16.5px 0;
    margin-top: 4rem;
    margin-left: 1rem;
  }

  .fp-controlArrow.fp-next {
    border-width: 16.5px 0 16.5px 17px;
    margin-top: 4rem;
    margin-right: 1rem;
  }
  // Team Section
  .team-text-section {
    height: 20%;
  }

  .team-text-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .team-introduction-section {
    height: 80%;
  }

  .team-text-title {
    height: 40%;
  }

  .team-text-content {
    height: 60%;
  }

  .team-text-effect {
    font-size: 2rem;
  }

  .team-text-description {
    width: 90%;
  }

  .team-text-description p {
    font-size: 0.8rem;
  }

  .team-introduction-section {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .team-card-body {
    width: 100px;
    height: 65%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .team-card-image {
    height: 80%;
  }

  .team-card-description {
    height: 20%;
  }

  .team-card-description p {
    font-size: 0.5rem;
    margin-bottom: 0;
    padding-top: 0.1rem;
  }

  .team-card-description span {
    font-size: 0.3rem;
  }
  // Contact Section
  .contact-content-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .contact-text-block {
    height: 35%;
    width: 100%;
    margin-left: 2rem;
  }

  .contact-text-title {
    display: flex;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .contact-empty-block {
    height: 15%;
    width: 100%;
  }

  .contact-map-block {
    height: 50%;
    width: 100%;
  }

  .contact-text-title p {
    font-size: 2rem;
  }

  .contact-text-description {
    width: 100%;
  }

  p.description {
    width: 80%;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  p.email {
    font-size: 0.7rem;
    margin-top: 1rem;
  }

  p.address {
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }
}
/* Smart Phone (가로 ) ----------- */
@media only screen and (min-device-width: 321px) and (max-device-width: 811px) and (orientation : landscape) {
  // Navbar
  #navbar {
    visibility: hidden;
  }
  // Overall Section
  .overall-content-wrapper {
    width: 90%;
  }

  .overall-empty-wrapper {
    width: 10%;
  }

  .overall-text-title p {
    font-size: 2rem;
  }

  .overall-text-content p {
    font-size: 1rem;
  }
  // Service Section
  .service-description-block {
    width: 80%;
  }

  .service-image-section {
    width: 80%;
    height: 60%;
  }

  .service-category-block p {
    font-size: 1.5rem;
  }

  .service-name-block p {
    font-size: 0.5rem;
  }

  .service-description-block p {
    font-size: 0.8rem;
    line-height: 0;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    border-width: 16.5px 17px 16.5px 0;
  }

  .fp-controlArrow.fp-next {
    border-width: 16.5px 0 16.5px 17px;
  }
  // Team Section
  .team-introduction-section {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 40px;
    /*for IE10 */
    -ms-display: flexbox;
  }
  // Contact Section
  .contact-content-section {
    flex-direction: row;
  }

  .contact-text-block {
    height: 100%;
    width: 45%;
    margin-left: 5rem;
  }

  .contact-text-description {
    width: 100%;
  }

  .contact-empty-block {
    height: 5%;
    width: 100%;
  }

  .contact-map-block {
    height: 100%;
    width: 50%;
    margin: 5rem;
  }

  .contact-text-title p {
    font-size: 1.5rem;
  }

  .contact-text-description p {
    font-size: 1rem;
  }
}
/* iPhone SE (가로 ) ----------- */
@media only screen and (device-width: 568px) and (orientation : landscape) {
  // Overall Section
  .overall-content-section {
    margin-left: -6.5rem;
  }
}
/* iPhoneX (가로 ) ----------- */
@media only screen and (min-device-width:375px) and (max-device-width: 812px) and (orientation : landscape) {
  // Overall Section
  .overall-content-section {
    margin-left: -5rem;
  }

  .overall-text-company p {
    font-size: 1.2rem;
  }

  .overall-text-title p {
    font-size: 2rem;
  }

  .overall-text-content p {
    font-size: 0.8rem;
  }

  #content-second-sentence {
    margin-top: -0.5rem;
  }
  // Service Section
  .service-category-block {
    height: 30%;
  }

  .service-name-block {
    height: 30%;
  }

  .service-description-block {
    height: 40%;
    width: 85%;
  }

  .service-category-block p {
    font-size: 2rem;
    margin-top: 0;
  }

  .service-name-block p {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  .service-description-block p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: -0.2rem;
  }

  .service-image-section {
    width: 60%;
    height: 60%;
    margin-top: 1rem;
  }

  .image-fanthecall {
    background-image: image-url("fanthecall_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-maskfanthe {
    background-image: image-url("maskfanthe_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-fanmong {
    background-image: image-url("fanmong_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-fanshow {
    background-image: image-url("fanshow_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-fanality {
    background-image: image-url("fanality_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .image-fandrama {
    background-image: image-url("fandrama_tb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    border-width: 16.5px 17px 16.5px 0;
    margin-top: 2.5rem;
    margin-left: 4.5rem;
  }

  .fp-controlArrow.fp-next {
    border-width: 16.5px 0 16.5px 17px;
    margin-top: 2.5rem;
    margin-right: 4.5rem;
  }
  // Team Section
  .team-text-section {
    height: 20%;
  }

  .team-text-title {
    margin-top: 0.5rem;
  }

  .team-text-effect {
    font-size: 2rem;
  }

  .team-text-description {
    width: 95%;
  }

  .team-text-description p {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-top: 0.3rem;
  }

  .team-introduction-section {
    height: 80%;
    width: 100%;
    flex-direction: column;
  }

  .team-card-body {
    width: 92px;
    height: 90%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .team-card-description p {
    font-size: 0.5rem;
    padding-top: 2px;
  }

  .team-card-description span {
    font-size: 0;
  }
  // Contact Section
  .contact-content-section {
    flex-direction: row;
  }

  .contact-text-block {
    height: 100%;
    width: 45%;
    margin-left: 2rem;
    margin-top: 3rem;
  }

  .contact-text-description {
    height: 40%;
    width: 100%;
  }

  .contact-empty-block {
    height: 100%;
    width: 10%;
  }

  .contact-map-block {
    height: 100%;
    width: 50%;
    margin: 0 3rem;
  }

  .contact-text-title p {
    font-size: 2rem;
    margin-top: 1rem;
  }

  p.description {
    font-size: 0.8rem;
  }

  p.email {
    font-size: 0.68rem;
    margin-top: 2rem;
    margin-right: 1.4rem;
  }

  p.address {
    font-size: 0.68rem;
    margin-top: 0.5rem;
    margin-right: 1.4rem;
  }

  .iw_inner h4 {
    margin-top: 0.4rem;
  }
}
/* iPhoneX (세로 ) ----------- */
@media only screen and (device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
  // Overall Section
  .overall-content-wrapper {
    height: 100%;
    width: 100%;
  }

  .overall-empty-wrapper {
    visibility: hidden;
  }

  .overall-content-section {
    width: 100%;
    margin-left: -6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .overall-text-company {
    height: 10%;
    width: 100%;
  }

  .overall-text-title {
    height: 30%;
    width: 100%;
  }

  .overall-text-content {
    height: 20%;
    width: 100%;
  }

  .overall-text-company p {
    font-size: 1rem;
  }

  .overall-text-title p {
    font-size: 2.2rem;
  }

  .overall-text-content p {
    font-size: 0.8rem;
    margin-top: -3rem;
  }

  .overall-section-wrapper {
    background-image: image-url("background_sp.png");
    background-attachment: scroll;
  }
  // Service Section
  .service-text-section {
    height: 25%;
  }

  .service-image-section {
    height: 75%;
  }

  .service-empty-block {
    height: 0;
  }

  .service-category-block {
    height: 30%;
  }

  .service-name-block {
    height: 20%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .service-description-block {
    height: 50%;
    width: 80%;
    margin-top: -1rem;
  }

  .service-category-block p {
    font-size: 2rem;
    margin-top: 0.2rem;
  }

  .service-name-block p {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .service-description-block p {
    font-size: 0.8rem;
    line-height: normal;
    font-weight: normal;
    margin-top: 1.2rem;
    margin-bottom: 0;
  }

  .image-fanthecall {
    background-image: image-url("fanthecall_sp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-maskfanthe {
    background-image: image-url("maskfanthe_sp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-fanmong {
    background-image: image-url("fanmong_sp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-fanshow {
    background-image: image-url("fanshow_sp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-fanality {
    background-image: image-url("fanality_sp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-fandrama {
    background-image: image-url("fandrama_sp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    border-width: 16.5px 17px 16.5px 0;
    margin-top: 6rem;
    margin-left: 0;
  }

  .fp-controlArrow.fp-next {
    border-width: 16.5px 0 16.5px 17px;
    margin-top: 6rem;
    margin-right: 0;
  }
  // Team Section
  .team-head-block {
    width: 100% !important;
  }

  .team-text-section {
    height: 20%;
    width: 75%;
  }

  .team-text-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .team-text-description {
    width: 100%;
  }

  .team-text-description p {
    font-size: 0.8rem;
  }

  .team-introduction-section {
    height: 80%;
  }

  .team-text-title {
    height: 40%;
    width: 100%;
  }

  .team-text-content {
    height: 60%;
    width: 100%;
  }

  .team-text-effect {
    font-size: 2rem;
  }

  .team-introduction-section {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .team-card-body {
    width: 110px;
    height: 60%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .team-card-image {
    height: 80%;
  }

  .team-card-description {
    height: 20%;
  }

  .team-card-description p {
    font-size: 0.5rem;
    margin-bottom: 0;
  }

  .team-card-description span {
    font-size: 0.3rem;
  }
  // Contact Section
  .contact-content-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .contact-text-block {
    height: 35%;
    width: 100%;
    margin-left: 2rem;
    margin-top: 0;
  }

  .contact-text-title {
    display: flex;
    align-items: center;
    /*for IE10 */
    -ms-display: flexbox;
  }

  .contact-empty-block {
    visibility: hidden;
  }

  .contact-map-block {
    height: 50%;
    width: 100%;
  }

  .contact-text-title p {
    font-size: 2rem;
  }

  .contact-text-description {
    width: 100%;
  }

  p.description {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  p.email {
    font-size: 0.7rem;
    margin-top: 1rem;
  }

  p.address {
    font-size: 0.7rem;
  }
}
/* iPhone 6 Plus 가로 및 세로 */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {}
/* iPhone 6 Plus 가로 */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {}
/* iPhone6 Plus 세로 */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {}
