/* iPad (세로) ----------- */
@media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
  // Overall Section
  .overall-section-wrapper{
    background-image: image-url("background_tb.png");
    background-attachment: scroll;
  }
  // Service Section
  .service-category-section p{
    font-size: 1em;
  }
  .service-name-section p{
    font-size: 4em;
  }
  .service-description-section p{
    font-size: 1.5em;
  }
  // Team Section
  .team-introduction-wrapper{
    flex-direction: column;
  }
  .team-introduction-first-section{
    height: 50%;
    width: 100%;
    justify-content: center;
  }
  .team-introduction-second-section{
    height: 50%;
    width: 100%;
    justify-content: center;
  }
  .team-introduction-block{
    height: 65%;
    width: 40%;
  }
  .team-introduction-block-last{
    height: 65%;
    width: 40%;
    margin-right: 2em;
  }
  .team-image-block{
    height: 85%;
    width: 100%;
  }
  .team-text-block{
    height: 15%;
    width: 100%;
  }
  .team-text-name{
    height: 100%;
    width: 100%;
    border: 0px solid;
    border-color: trensparent;
  }
  .team-text-content{
    height: 0%;
    width: 0%;
  }
  .team-text-block p{
    font-size: 4em;
  }
  .team-text-name p{
    font-size: 1.2em;
  }
  .team-text-content p{
    font-size: 0em;
    color: trensparent;
  }
  // Contact Section
  .contact-content-wrapper{
    flex-direction: column;
  }
  .contact-text-block{
    height: 55%;
    width: 100%;
    margin-left: 5em;
  }
  .contact-text-title p{
    font-size: 4em;
  }
  .contact-text-description p{
    font-size: 1.2em;
  }
  .contact-empty-block{
    height: 5%;
    width: 100%;
  }
  .contact-map-block{
    height: 40%;
    width: 100%;
    margin-left: 5em;
  }
}
/* iPad (가로) ----------- */
@media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
  // Overall Section
  .overall-text-company p{
    font-size: 1.2em;
  }
  .overall-text-title p{
    font-size: 2.5em;
  }
  .overall-text-content p{
    font-size: 1em;
  }
  // Service Section
  .service-name-section p{
    font-size: 2.5em;
  }
  .service-description-section p{
    font-size: 1.2em;
  }
  // Team Section
  .team-text-block p{
    font-size: 2.5em;
  }
  .team-text-name p{
    font-size: 1.2em;
  }
  .team-text-content p{
    font-size: 0%;
    color: trensparent;
  }
  .team-introduction-first-section{
    align-items: baseline;
  }
  .team-introduction-block{
    height: 85%;
    width: 30%;
  }
  .team-introduction-block-last{
    height: 80%;
    width: 20%;
  }
  .team-image-block{
    height: 60%;
  }
  .team-text-name{
    height: 15%;
  }
  .team-text-content{
    height: 25%;
  }
  .team-introduction-second-section{
    align-items: baseline;
  }
  // Contact Section
  .contact-text-title p{
    font-size: 2.5em;
  }
  .contact-text-description p{
    font-size: 1.2em;
  }
  .contact-empty-block{
    height: 100%;
    width: 15%;
  }
}
/* iPad Pro(세로) ----------- */
@media screen and (device-width: 1024px) and (max-device-width: 1366px) and (orientation : portrait) {
  // Overall Section
  .overall-text-company p{
    font-size: 2.2em;
  }
  .overall-text-title p{
    font-size: 4em;
  }
  .overall-text-content p{
    font-size: 2em;
  }
  .overall-section-wrapper{
    background-image: image-url("background_tb.png");
    background-size: cover;
  }
  // Service Section
  .service-category-section p{
    font-size: 1.5em;
  }
  .service-name-section p{
    font-size: 3em;
  }
  .service-description-section p{
    font-size: 1.5em;
  }
  // Team Section
  .team-introduction-wrapper{
    flex-direction: column;
  }
  .team-introduction-first-section{
    height: 50%;
    width: 100%;
    justify-content: center;
  }
  .team-introduction-second-section{
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .team-introduction-block{
    height: 55%;
    width: 40%;
  }
  .team-introduction-block-last{
    height: 55%;
    width: 40%;
    margin-right: 2em;
  }
  .team-image-block{
    height: 85%;
    width: 100%;
  }
  .team-text-block{
    height: 30%;
    width: 100%;
  }
  .team-text-name{
    height: 100%;
    width: 100%;
    border: 0px solid;
    border-color: trensparent;
  }
  .team-text-content{
    height: 0%;
    width: 0%;
  }
  .team-text-block p{
    font-size: 3em;
  }
  p.name{
    font-size: 1.5em;
  }
  p.position{
    font-size: 1em;
  }
  .team-text-content p{
    font-size: 0em;
    color: trensparent;
  }
  // Contact Section
  .contact-content-wrapper{
    flex-direction: column;
  }
  .contact-text-block{
    height: 40%;
    width: 100%;
    margin-left: 5em;
  }
  .contact-text-title p{
    font-size: 3em;
  }
  .contact-text-description p{
    font-size: 1.8em;
  }
  .contact-empty-block{
    height: 5%;
    width: 100%;
  }
  .contact-map-block{
    height: 40%;
    width: 100%;
    margin-left: 5em;
  }
}
/* iPad Pro (가로) ----------- */
@media screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation : landscape) {
  #navbar a{
    font-size: 1em;
  }
  // Overall Section
  .overall-text-company p{
    font-size: 2.2em;
  }
  .overall-text-title p{
    font-size: 4em;
  }
  .overall-text-content p{
    font-size: 2em;
  }
  .overall-section-wrapper{
    background-image: image-url("background_tb.png");
    background-size: cover;
  }
  // Service Section
  .service-category-section p{
    font-size: 1.5em;
  }
  .service-name-section p{
    font-size: 3em;
  }
  .service-description-section p{
    font-size: 1.3em;
  }
  // Team Section
  .team-introduction-block{
    height: 50%;
    width: 50%;
  }
  .team-introduction-block-last{
    height: 50%;
    width: 50%;
  }
  .team-image-block{
    height: 60%;
  }
  .team-text-block{
    height: 40%;
  }
  p.name{
    font-size: 1.2em;
  }
  p.position{
    font-size: 1.1em;
  }
  .team-text-content p{
    font-size: 1em;
  }

  // Contact Section
  .contact-content-wrapper{
    flex-direction: column;
  }
  .contact-text-block{
    height: 40%;
    width: 100%;
    margin-left: 5em;
  }
  .contact-text-title p{
    font-size: 3em;
  }
  p.description{
    font-size: 1.5em;
  }
  p.email{
    font-size: 1.2em;
  }
  p.address{
    font-size: 1.2em;
  }
  .contact-empty-block{
    height: 5%;
    width: 100%;
  }
  .contact-map-block{
    height: 40%;
    width: 100%;
    margin-left: 5em;
  }
}

/* iPad Mini(세로) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1)  {
}
/* iPad Mini(가로) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  {
}
