.team-section-wrapper{
  height: 100%;
  width: 100%;
  background-color: trensparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-text-wrapper{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-text-block{
  height: 80%;
  width: 100%;
  text-align: center;
}
.team-text-effect{
  font-family: OpenSans, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  color: #000;
}
.team-text-effect .letter{
  display: inline-block;
  line-height: 1em;
}
.team-introduction-wrapper{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team-introduction-first-section{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.team-introduction-second-section{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.team-introduction-block{
  height: 45%;
  width: 45%;
  max-height: 500px;
  max-width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  transition: .5s ease;
}
.team-introduction-block:hover{
  box-shadow:
  1px 1px #373737,
  2px 2px #373737,
  3px 3px #373737,
  4px 4px #373737,
  5px 5px #373737,
  6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
}
.team-introduction-block-last{
  height: 45%;
  width: 45%;
  max-height: 500px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
}
.team-introduction-block-last:hover{
  box-shadow:
  1px 1px #373737,
  2px 2px #373737,
  3px 3px #373737,
  4px 4px #373737,
  5px 5px #373737,
  6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
}
.team-image-block{
  height: 75%;
  width: 100%;
  background-color: lightgrey;
}
.team-text-block{
  height: 25%;
  width: 100%;
}
.team-text-name{
  height: 35%;
  width: 100%;
  border-bottom: 1px solid;
  border-color: #dcdcdc;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
p.name {
  font-family: NanumSquare;
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
p.position {
  font-family: NanumSquare;
  font-size: 0.9em;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: grey;
  margin-left: 2em;
}
.team-text-content{
  height: 65%;
  width: 100%;
}
.team-text-content p{
  font-family: NanumSquare;
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: left;
  color: #6a6a6a;
  margin-top: 10px;
}
